.serverlist-container {
  background-color: #202225;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 4.5rem;
  overflow-y: auto;
  /* height: 100%; */
  /* background-color: #000000; */
}
.serverlist-container::-webkit-scrollbar-track {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 2px 0;
  background-color: #404040;
}

.serverlist-container::-webkit-scrollbar {
  width: 10px;
}

.serverlist-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #737272;
  border: 1px solid #000;
}
