.modal {
  display: flex;
<<<<<<< HEAD
  position: relative;
=======
  position: fixed;
>>>>>>> 9af2b1089b17c4471b16dc7cf09bc7a744b80973
  width: 500px;
  height: 470px;
  background-color: #36393e;
  top: 100px;
  left: 32%;
  border-radius: 10px;
}
.main {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
}

.main > div {
<<<<<<< HEAD
  margin-top: 0px;
=======
  margin-bottom: 30px;
>>>>>>> 9af2b1089b17c4471b16dc7cf09bc7a744b80973
  padding-left: 2px;
}
p {
  color: #c4c4c4;
}

.main > input {
<<<<<<< HEAD
  margin-top: -10px;
  margin-bottom: -3px;
=======
  margin-top: 10px;
  margin-bottom: 10px;
>>>>>>> 9af2b1089b17c4471b16dc7cf09bc7a744b80973
  width: 439px;
  height: 50px;
  background-color: #303338;
  border: solid 0.5mm #000000;
  border-radius: 4px;
  color: #ffffff;
<<<<<<< HEAD
=======
  font-size: 16px;
>>>>>>> 9af2b1089b17c4471b16dc7cf09bc7a744b80973
}
.main > .red-box {
  border: solid 2px #ed4145;
  outline: none;
}
.main > .invalid {
  color: #ed4145;
}

<<<<<<< HEAD
h3 {
=======
.main > div > h3 {
>>>>>>> 9af2b1089b17c4471b16dc7cf09bc7a744b80973
  text-align: left;
  color: #ffffff;
  font-size: 24px;
}
<<<<<<< HEAD
h4 {
  margin-top: -10px;
=======
.main > div > h4 {
  margin-top: 10px;
>>>>>>> 9af2b1089b17c4471b16dc7cf09bc7a744b80973
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  opacity: 50%;
}
.blue {
  font-size: 12px;
  color: #0cabf0;
<<<<<<< HEAD
=======
  margin-bottom: 20px;
>>>>>>> 9af2b1089b17c4471b16dc7cf09bc7a744b80973
}
.blue:hover {
  text-decoration: underline;
  cursor: pointer;
}
.signup-link {
<<<<<<< HEAD
=======
  margin-top: 10px;
>>>>>>> 9af2b1089b17c4471b16dc7cf09bc7a744b80973
  color: #c4c4c4;
  font-size: 12px;
}
.signup-link > strong {
  color: #0cabf0;
  font-weight: 800;
  font-size: 14px;
}
strong:hover {
  text-decoration: underline;
  cursor: pointer;
}
