.section-wrap {
  display: flex;
  /* flex-flow: column-reverse wrap; */
  width: 100%;
  height: 100%;
}
.section-container {
  width: calc(100% - 240px);
  height: 100%;
  flex: 2;
  background-color: #36393f;
  color: #8e9297;
  display: flex;
  flex-direction: column;
}
.chatting-container {
  margin-top: -30px;
  padding: 30px;
}
.dd {
  flex: 1;
}
